{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
    <style>
        body {
            background-image: url('https://i.pinimg.com/originals/b0/94/57/b094570b57a955fdccaf35eb1cc60058.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0; 
        }

        .content-wrapper {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .login {
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #f9f9f9;
            max-width: 400px;
            margin: 0 auto;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        

        table td {
            padding: 10px;
        }

        .login_button {
            margin: 10px;
            justify-content: center;
            text-align: center;
        }

        .btn-primary {
            background-color: #090c9b !important;
            border-color: #090c9b !important;
        }

        .btn-primary:hover {
            background-color: #91abda !important;
            border-color: #91abda !important;
        }

        /* Adjust footer style */
        .footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }
    </style>
{% endblock meta %}

{% block content %}
    <div class="content-wrapper">
        <div class = "login">
            <h1>Login</h1>
            <form method="POST" action="">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Username: </td>
                        <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                    </tr>    
                    <tr>
                        <td>Password: </td>
                        <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                    </tr>
                </table>
                <div class="login_button">
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </form>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}     
            <div class="card-footer text-center">
                Don't have an account yet? <a href="{% url 'authentication:register' %}">Register Now</a>
            </div>
        </div>
    </div>

{% endblock content %}