{% extends 'base.html' %}

{% block content %}
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
  
        .b-example-divider {
          width: 100%;
          height: 3rem;
          background-color: #090c9b;
          border: solid rgba(0, 0, 0, .15);
          border-width: 1px 0;
          box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }
  
        .b-example-vr {
          flex-shrink: 0;
          width: 1.5rem;
          height: 100vh;
        }
  
        .bi {
          vertical-align: -.125em;
          fill: currentColor;
        }
  
        .nav-scroller {
          position: relative;
          z-index: 2;
          height: 2.75rem;
          overflow-y: hidden;
        }
  
        .nav-scroller .nav {
          display: flex;
          flex-wrap: nowrap;
          padding-bottom: 1rem;
          margin-top: -1px;
          overflow-x: auto;
          text-align: center;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
        }

        .card-body {
          height: 200px; /* Set height */
          overflow-y: auto; /* Add scroll if content overflows */
        }
  
        .btn-bd-primary {
          --bd-violet-bg: #712cf9;
          --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  
          --bs-btn-font-weight: 600;
          --bs-btn-color: var(--bs-white);
          --bs-btn-bg: var(--bd-violet-bg);
          --bs-btn-border-color: var(--bd-violet-bg);
          --bs-btn-hover-color: var(--bs-white);
          --bs-btn-hover-bg: #6528e0;
          --bs-btn-hover-border-color: #6528e0;
          --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
          --bs-btn-active-color: var(--bs-btn-hover-color);
          --bs-btn-active-bg: #5a23c8;
          --bs-btn-active-border-color: #5a23c8;
        }
  
        .bd-mode-toggle {
          z-index: 1500;
        }
  
        .bd-mode-toggle .dropdown-menu .active .bi {
          display: block !important;
        }

        .borrowed-text {
            color: blue;
        }

        .available-text {
            color: green;
        }
    </style>


<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">LiteraPhile</h1>
        <p class="lead text-body-secondary">Aplikasi peminjaman buku No 1 di Fasilkom</p>
        <p>
          <a href="{% url 'wishlist_page:search_books' %}" class="btn btn-primary my-2">Tambahkan Wishlist</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

  <div class="input-group d-flex justify-content-center w-50" style="margin: 0 auto;">
    <input type="search" class="form-control rounded" id="searchInput" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary" id="searchButton" onclick="searchBooks()">Search</button>
  </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="search_display">
        
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="books_display">
        
      </div>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h3 class="fw-light">Masih belum menemukan bukumu ?</h3>
            <a href="{% url 'wishlist_page:search_books' %}" class="btn btn-primary">Tambah buku ke Wishlist</a>
          </div>
        </div>
      </section>
      
    </div>
  </div>

</main>

<script>
  async function getProducts() {
    return fetch("{% url 'landingPage:get_books_json' %}")
      .then((res) => res.json())
      .then((data) => {
        // Check if the data contains books
        if (Array.isArray(data)) {
          data.forEach((book) => {
            console.log('Primary Key:', book.pk);
          });
        }
        return data; // Return the original data for further processing
      });
  }

  async function refreshBooks() {
        document.getElementById("books_display").innerHTML = ""
        const books = await getProducts()
        let counter = 0

        let htmlString = ``
        books.forEach((item) => {
          counter += 1;
          htmlString += `\n
          <div class="col">
            <div class="card shadow-sm">
              <img src="${item.fields.image}" alt="Girl in a jacket" width="100%" height="100%">
              <div class="card-body">
                <p class="card-text">${item.fields.title}</p>
                <p class="card-text">Author : ${item.fields.author}</p>
                <p class="card-text">Available : ${item.fields.amount}</p>
                <p class="${item.fields.is_borrowed === 'Borrowed' ? 'borrowed-text' : 'available-text'}">${item.fields.is_borrowed === 'Borrowed' ? 'Borrowed' : 'Available'}</p>
                <div class="d-flex justify-content-between align-items-center">`;

          if (item.fields.is_borrowed !== 'Borrowed') {
            htmlString += `
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal${counter}">Details</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1${counter}">Pinjam</button>
                  </div>
                  <small class="text-body-secondary">${item.fields.year_of_release}</small>
                </div>
              </div>
            </div>

            <div class="modal fade" id="exampleModal${counter}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Book Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Title : ${item.fields.title}</p>
                            <p>Author : ${item.fields.author}</p>
                            <p>Release year/date : ${item.fields.year_of_release}</p>
                            <p>Description : </p>
                            <p>${item.fields.description}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a href="details/${item.pk}">
                                <button type="button" class="btn btn-primary">
                                  more
                                </button>
                              </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal1${counter}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel1">Pinjam Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Title : ${item.fields.title}</p>
                            <p>Author : ${item.fields.author}</p>
                            <p>Release year/date : ${item.fields.year_of_release}</p>
                            <p>Description : </p>
                            <p>${item.fields.description}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-pinjam" data-bs-dismiss="modal" onclick="borrowBook(${item.pk})"> Pinjam </button>
                            <a href="details/${item.pk}">
                                <button type="button" class="btn btn-primary">
                                  more
                                </button>
                            </a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>`;
          } else {
            htmlString += `
                  <small class="text-body-secondary">${item.fields.year_of_release}</small>
                </div>
              </div>
            </div>`;
          }
          htmlString += `</div>`;
      });
      document.getElementById("books_display").innerHTML = htmlString
    }

    var csrf_token = "{{ csrf_token }}";
    function borrowBook(bookId) {
        fetch(`/borrow_book/${bookId}/`, {
            method: 'POST',
        })
        .then(response => response.json())  // Parse the response to JSON
        .then(data => {
            if (data.status === 'success') {
                alert(data.message);
                refreshBooks();
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error("Error fetching data:", error);
            alert("An error occurred. Please try again.");
        });
    }
    refreshBooks()

    function hide (elements) {
        elements = elements.length ? elements : [elements];
        for (var index = 0; index < elements.length; index++) {
          elements[index].style.display = 'none';
        }
    }

    async function get_search_books() {
        let searchTitle = document.getElementById('searchInput').value
        return fetch("{% url 'landingPage:search_books_static' %}?search_title=" + encodeURIComponent(searchTitle)).then((res) => res.json())
          .then((data) => {
          // Check if the data contains books
          if (Array.isArray(data)) {
            data.forEach((book) => {
              console.log('Primary Key:', book.pk);
            });
          }
          return data; // Return the original data for further processing
        });
    }

    async function searchBooks() {
        const books = await get_search_books()
        console.log(books)

        document.getElementById("search_display").innerHTML = ""
        hide(document.getElementById("books_display"))
        let counter = 0

        let htmlString = ``
        if(Array.isArray(books)) {
            books.forEach((item) => {
                counter += 1
                htmlString += `\n
                <div class="col">
            <div class="card shadow-sm">
              <img src="${item.fields.image}" alt="Girl in a jacket" width="100%" height="100%">
              <div class="card-body">
                <p class="card-text">${item.fields.title}</p>
                <p class="card-text">Author : ${item.fields.author}</p>
                <p class="card-text">Available : ${item.fields.amount}</p>
                <p class="${item.fields.is_borrowed === 'Borrowed' ? 'borrowed-text' : 'available-text'}">${item.fields.is_borrowed === 'Borrowed' ? 'Borrowed' : 'Available'}</p>
                <div class="d-flex justify-content-between align-items-center">`;

          if (item.fields.is_borrowed !== 'Borrowed') {
            htmlString += `
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModals${counter}">Details</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModals1${counter}">Pinjam</button>
                  </div>
                  <small class="text-body-secondary">${item.fields.year_of_release}</small>
                </div>
              </div>
            </div>

            <div class="modal fade" id="exampleModals${counter}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Book Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Title : ${item.fields.title}</p>
                            <p>Author : ${item.fields.author}</p>
                            <p>Release year/date : ${item.fields.year_of_release}</p>
                            <p>Description : </p>
                            <p>${item.fields.description}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModals1${counter}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel1">Pinjam Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Title : ${item.fields.title}</p>
                            <p>Author : ${item.fields.author}</p>
                            <p>Release year/date : ${item.fields.year_of_release}</p>
                            <p>Description : </p>
                            <p>${item.fields.description}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="details/${item.pk}">
                              <button type="button" class="btn btn-primary">
                                more
                              </button>
                            </a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>`;
            } else {
              htmlString += `
                    <small class="text-body-secondary">${item.fields.year_of_release}</small>
                  </div>
                </div>
              </div>`;
            }
            htmlString += `</div>`;
          });
        } else {
          console.error('books is not an array:', books);
        }
        
        document.getElementById("search_display").innerHTML = htmlString
    }
</script>

<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a class="btn btn-primary" href="#">Back to top</a>
    </p>
    <p class="mb-1">LiteraPhile 2023</p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% endblock content %}