{% extends 'admin.html' %}

{% block meta %}

    <style>

        .user-table {
            margin-left: 213px;
            margin-top: 5px;
        }

    </style>

{% endblock meta %}

{% block content %}

    <div class="user-table">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.groups.first.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock content %}