{% extends 'base.html' %}

{% block meta %}
    <title>Add New Product</title>
{% endblock meta %}

{% block content %}
<style>
    .card-body {
        padding: 20px;
    }

    .card-body table {
        width: 100%;
    }

    .card-body textarea {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    body {
        background-image: url('https://i.pinimg.com/originals/b0/94/57/b094570b57a955fdccaf35eb1cc60058.jpg'); 
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed; 
        height: 100vh;
    }

    .card {
        background-color: #fff; 
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: 0 auto;
    }

    .btn-primary {
        background-color: #090c9b !important; 
        border-color: #090c9b !important;
    }

    .btn-primary:hover {
        background-color: #91abda !important; 
        border-color: #91abda !important;
    }

</style>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Form Permintaan Buku</h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="Kirim" class="btn btn-primary">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="card-footer" style="text-align: center; margin-top: 20px;">
                    <a href="{% url 'wishlist_page:search_books' %}">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
