{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteraPhile-MyWishlist</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
</head>

<body>
    <div class="header">
        {% load static %}
        <img src="{% static 'wishlist-design.png' %}" alt="logo" style="display: block; margin: 0 auto; max-width: 100%; height: auto;">
        <h1>Wishlist Page</h1>
        <p>Tambahkan buku yang kamu inginkan disini!</p>
    </div>
    <div class="container">
        <div id="wishlist-section">
            <h2>Daftar Buku Keinginanku</h2>
            <table id="wishlist-table"></table>
            </div>
            <div class="search">
                <br>
                <br>
                <h2 style="align-items: center;">Temukan Bukumu</h2>
                <div class="search">
                    <form action="{% url 'wishlist_page:search_books' %}" method="post" class="d-flex">
                        {% csrf_token %}
                        <input class="form-control me-2" type="text" name="search" placeholder="Masukkan judul buku"
                            aria-label="Search">
                        <button class="btn btn-primary custom-button2" type="submit">Cari</button>
                    </form>
                </div>
            </div>
            <div class="container-card">
                {% for book in book_data %}
                <div class="card">
                    <img src="{{ book.image }}" alt="" style="margin-bottom: 10px;">
                    <div class="card-content">
                        <div class="books">
                            <h3 class="title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium; margin: 20px 20px 0px 20px;">{{ book.title }}</h3>
                            <span style="font-size: small; color: rgb(161, 161, 161); ">{{ book.author }}</span>
                            <div class="card-footer">
                                <form class="add-to-wishlist-form" data-book-id="{{ book.unique_id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="title" value="{{ book.title }}">
                                    <input type="hidden" name="author" value="{{ book.author }}">
                                    <input type="hidden" name="description" value="{{ book.description }}">
                                    <input type="hidden" name="image" value="{{ book.image }}">
                                    <input type="hidden" name="year_of_release" value="{{ book.year_of_release }}">
                                    <input type="hidden" name="id" value="lalala">
                                    <button type="submit" class="btn btn-primary custom-button">Add to Wishlist</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="confirmationModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Konfirmasi Pengguna</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Apakah Anda yakin ingin menambahkan buku ini ke daftar keinginan Anda?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="cancelAddToWishlist">Tidak</button>
                        <button type="button" class="btn btn-primary" id="confirmAddToWishlist">Ya</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmRemoveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Konfirmasi Pengguna</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Apakah Anda yakin ingin menghapus buku ini dari daftar keinginan Anda?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                  <button type="button" class="btn btn-primary" id="confirmDeleteBtn">Ya</button>
                </div>
              </div>
            </div>
          </div>

        <div class="add-manual" style="text-align: center;">
            <h4>Belum menemukan bukumu? Kirimkan permintaan ke LiteraPhile</h4>
            <a href="{% url 'wishlist_page:create_notes' %}" class="btn btn-outline-info" style="color: #FFFFFF; outline-color: #273a7d; border-color: #273a7d; background-color: #273a7d; display: block; text-align: center; line-height: 2; width: 500px; margin: 0 auto; margin-bottom: 50px;">
                Tambahkan wishlist secara manual
            </a>
        </div>
        
        

<script>
    $(document).ready(function () {
        var selectedBook = null;

        $(".add-to-wishlist-form").submit(function (event) {
            event.preventDefault();
            var form = $(this);
            selectedBook = form.closest('.card');
            $('#confirmationModal').modal('show');
        });

        $("#cancelAddToWishlist").click(function () {
            $('#confirmationModal').modal('hide');
        });

        $("#confirmAddToWishlist").click(function () {
            ajaxAddToWishlist(selectedBook);
        });
    });

    function ajaxAddToWishlist(selectedBook) {
        $.ajax({
            url: "{% url 'wishlist_page:add_to_wishlist' %}",
            method: "POST",
            data: selectedBook.find('.add-to-wishlist-form').serialize(),
            success: function (response) {
                $(".success-message").html("Book added to your wishlist!");
                $(".success-message").show();

                selectedBook.remove();
                refreshWishlist();
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
        $('#confirmationModal').modal('hide');
    }

    async function refreshWishlist() {
        try {
            const response = await fetch("{% url 'wishlist_page:load_wishlist' %}");
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
                    const data = await response.json();
                    const wishlistData = data.wishlist;

                    document.getElementById("wishlist-table").innerHTML = "";
                    let htmlString = `
                        <tr>
                            <th>No.</th>
                            <th>Judul</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                    `;

                wishlistData.forEach((item, index) => {
                    console.log(wishlistData)
                    htmlString += `
                        <tr>
                            <td>${index + 1}</td>
                            <td>${item.title}</td>
                            <td>${item.status}</td>
                            <td><button type="button" class="btn btn-danger" onclick="deleteProduct(${item.id})">hapus</button></td>
                        </tr>
                    `;
                });

                document.getElementById("wishlist-table").innerHTML = htmlString;
            } catch (error) {
                console.error('Error refreshing wishlist:', error);
                // Handle the error, e.g., display an error message to the user
            }
        }

        refreshWishlist()
                
    function deleteProduct(itemId) {
            var myModal = new bootstrap.Modal(document.getElementById('confirmRemoveModal'));
            myModal.show();

            document.getElementById("confirmDeleteBtn").addEventListener("click", function() {
        fetch(`delete-item-ajax/${itemId}/`, {
            method: "DELETE",
            headers: {
                "X-CSRFToken": document.querySelector('input[name="csrfmiddlewaretoken"]').value,
            },
        })
                .then(refreshWishlist);

                myModal.hide();
            });
        }

</script>

{% endblock content %}