.navbar-text {
    color: #ffffff;
    font-size: 24px;
}

.custom-sidebar {
    width: 100%;
    height: auto;
    position: static; /* Resetting position */
    padding-top: 20px; /* Reduced padding */
    padding-right: 20px;
    text-align: center; /* Centered text */
    border-right: none; /* Removing border */
}

.content {
    margin-top: 30px;
    margin-left: 500px;
    padding: 20px;
    font-weight:normal;
}

.navbar {
    z-index: 2;
}

.content h6 {
    margin-bottom: 10px;
}

.content .user_information {
    padding-top: 5px;
    padding-left: 15px;
}

.card {
    max-width: 100%;
    width: 100%;
}

.card-row {
    flex-direction: column;
    gap: 10px;
}


/* Tablet and above */
@media (min-width: 768px) {
    .card {
        max-width: calc(50% - 10px);  /* 50% of container width minus half of the gap */
        width: calc(50% - 10px);
    }
    .card-row {
        flex-direction: row;
        gap: 20px;
    }

    .custom-sidebar {
        width: 300px; /* Adjust width */
        height: 100%;
        position: absolute; /* Reset to original position */
        top: 0;
        left: 0;
        bottom: 0;
        padding-top: 100px; /* Original padding */
        padding-right: 50px;
        text-align: right; /* Reset text alignment */
        border-right: 2px solid black; /* Reset border */
    }
}

/* Desktop and above */
@media (min-width: 1024px) {
    .card {
        max-width: calc(33.333% - 13.333px); /* 33.333% of container width minus a third of the gap */
        width: calc(33.333% - 13.333px);
    }

    .custom-sidebar {
        width: 450px; /* Even wider */
        /* other styles can remain the same */
    }
}

/* CSS for the user_information class */
.user_information {
    padding-top: 5px;
    padding-left: 15px;
}


.edit-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
