{% extends 'base.html' %}

{% block meta %}
<style>
  body{
      background-color: #b4c5e4 ;
      color: #090c9b;
  }
  .btn-bd-primary {
    color: #FFFFFF;
    outline-color: #090c9b;
    border-color: #090c9b;
    background-color: #090c9b;
  }

  .btn-bd-primary:hover {
      color: #090c9b;
      background-color: #b4c5e4;
  }


  .container-detail {
    display: block;
    margin: 20px auto;
    padding: 20px;
    max-width: 1300px;
    height: 100px auto;
    border: 2px solid #3c3744;
    border-radius: 10px ;
    background-color: rgba(255, 255, 255, 0.5);
    color: #3c3744;
  }

  .user-username{
    font-size: 140%;
    color: #3c3744;
  }

  .col-user{
    display: flex;
    width: auto;
  }
  .user-comment{
    font-size: medium;
    color: #3c3744;
  }

  .comment-date{
    font-size: 80%;
  }
  
</style>
{% endblock meta %}

{% block content %}
<div class="modal fade text-black" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Reply</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">

                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Reply: </label>
                        <input type="text" class="form-control" id="reply" name="reply"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="button_add">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="container-detail">
    <div class="row">
      <div class="col-user">
        <p class="user-username fw-bold">{{comment.user}}</p>
      </div>
    </div>
    
    <div class="row">
      <p class="user-comment">
        {{comment.comment}}  
      </p>
    </div>

    <div class="row">
        <p>{{comment.date_added}}</p>  
    </div>
    
    <div class="row justify-content-md-center text-center">
      <div class="col">
        <button type="button" class="btn btn-bd-primary" data-bs-toggle="modal" data-bs-target="#commentModal">Reply</button>
      </div>
    </div>
</div>

<div id="replies"></div>


<script>
    async function getReplies() {
        const url = "get-replies/{{ comment.pk }}"
        return fetch(url).then((res) => res.json())
    }

    async function refreshReplies(){
        document.getElementById("replies").innerHTML="";
        const replies = await getReplies()
        const user = "{{user}}"
        let htmlString=``
        replies.forEach((reply) => {
            
          if(user == reply.fields.user ){
            htmlString += `\n
                <div class="container-detail">
                  <div class="row">
                    <div class="col-user">
                      <p class="user-username fw-bold">${reply.fields.user}</p>
                    </div>
                  </div>
                  
                  <div class="row">
                    <p class="user-comment">
                      ${reply.fields.replies}  
                    </p>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <p>${reply.fields.date_add}</p>  
                    </div>
                  </div>
                  <div class="row justify-content-md-center text-center">
                    <class ="col">
                      <a href="delete-reply/${reply.fields.comment}/${reply.pk}">
                        <button class="btn btn-danger">Delete</button>
                      </a>
                    </div>
                  </div>
                </div>
            `
          } else {
            htmlString += `\n
                <div class="container-detail">
                  <div class="row">
                    <div class="col-user">
                      <p class="user-username fw-bold">${reply.fields.user}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <p>${reply.fields.date_add}</p>  
                    </div>
                  </div>

                  <div class="row">
                    <p class="user-comment">
                      ${reply.fields.replies}  
                    </p>
                  </div>
                </div>
            `
          }
            
        });

        document.getElementById("replies").innerHTML= htmlString
    }

    refreshReplies()

    function addReply(){
        const url = "create-reply/{{ comment.pk }}" 
        fetch(url, {
            method : "POST",
            body: new FormData(document.querySelector("#form"))
        }).then(refreshReplies)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addReply



</script>
{% endblock content %}